@keyframes nav-line {
  0%  {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {

    opacity: 0;
    transform: translateY(20px)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes rightToLeft {
  0%  {
    width: 0;
  }
  100% {
    width: calc(100% - 9rem);
  }
}

@keyframes bottomToTop {
  0%  {
    height: 0%;
    background: transparent;
  }
  100% {
    height: 100%;
    background: purple;
  }
}
